.btn:hover
{
	cursor: pointer;
}
.images_carousel{
	position: center;
	  display: block;
	  width:765px;
	  height:500px;

}
.about{
	padding-left: 22px;
	font-style: initial;
	font-style: Antic; 
	color:white;
	text-align: justify;
}
.eventdata{
	color: white;
	text-align: center;
}
body{
	background-image: url('RSVP_IMAGES/bg.png');
	background-repeat: no-repeat;
}
#footer {
	text-align:center;
	bottom: 0;
	width: 100%;
	height:60px;
    background-color: black;
    color: white;
}
